.wpisset-post-newsletter-wrap {
	background-image: url(../img/footer.png);
	background-position: center center;
	background-repeat: no-repeat
}

.wpisset-subcription-popup-inner {
	background-image: url(../img/tmp_banners/popup-image.jpg);
	background-repeat: no-repeat
}

.wpisset-navigation {
	background-color: #fff;
	background-position: center center;
	background-size: cover;
	background-attachment: scroll;
	background-repeat: repeat
}

.wpisset-sub-menu>.menu-item-has-children.wpisset-mega-menu-bg-image-1>.sub-menu {
	background-color: #fff;
	background-image: url(../img/tmp_banners/megamenu-shop.png);
	background-position: right bottom;
	background-size: auto;
	background-attachment: scroll;
	background-repeat: no-repeat
}

.wpisset-sub-menu>.menu-item-has-children.wpisset-mega-menu-bg-image-2>.sub-menu {
	background-color: #fff;
	background-position: center center;
	background-size: cover;
	background-attachment: scroll;
	background-repeat: repeat
}

.wpisset-sub-menu>.menu-item-has-children.wpisset-mega-menu-bg-image-3>.sub-menu {
	background-color: #fff;
	background-position: center center;
	background-size: cover;
	background-attachment: scroll;
	background-repeat: repeat
}

.wpisset-sub-menu>.menu-item-has-children.wpisset-mega-menu-bg-image-4>.sub-menu {
	background-color: #fff;
	background-image: url(../img/tmp_banners/megamenu-headphones.jpg);
	background-position: right bottom;
	background-size: auto;
	background-attachment: scroll;
	background-repeat: no-repeat
}

.wpisset-sub-menu>.menu-item-has-children.wpisset-mega-menu-bg-image-5>.sub-menu {
	background-color: #fff;
	background-image: url(../img/tmp_banners/cat-megamenu-laptop.jpg);
	background-position: right bottom;
	background-size: auto;
	background-attachment: scroll;
	background-repeat: no-repeat
}

.wpisset-sub-menu>.menu-item-has-children.wpisset-mega-menu-bg-image-6>.sub-menu {
	background-color: #fff;
	background-image: url(../img/tmp_banners/cat-megamenu-3.jpg);
	background-position: right bottom;
	background-size: auto;
	background-attachment: scroll;
	background-repeat: no-repeat
}

.wpisset-sub-menu>.menu-item-has-children.wpisset-mega-menu-bg-image-7>.sub-menu {
	background-color: #fff;
	background-position: center center;
	background-size: cover;
	background-attachment: scroll;
	background-repeat: repeat
}

.wpisset-sub-menu>.menu-item-has-children.wpisset-mega-menu-bg-image-8>.sub-menu {
	background-color: #fff;
	background-position: center center;
	background-size: cover;
	background-attachment: scroll;
	background-repeat: repeat
}

.wpisset-sub-menu>.menu-item-has-children.wpisset-mega-menu-bg-image-9>.sub-menu {
	background-color: #fff;
	background-position: center center;
	background-size: cover;
	background-attachment: scroll;
	background-repeat: repeat
}

.wpisset-sub-menu>.menu-item-has-children.wpisset-mega-menu-bg-image-10>.sub-menu {
	background-color: #fff;
	background-position: center center;
	background-size: cover;
	background-attachment: scroll;
	background-repeat: repeat
}

.wpisset-sub-menu>.menu-item-has-children.wpisset-cat-mega-menu-bg-image-1>.sub-menu {
	background-color: #fff;
	background-image: url(../img/tmp_banners/cat-megamenu-laptop.jpg);
	background-position: right bottom;
	background-size: auto;
	background-attachment: scroll;
	background-repeat: no-repeat
}

.wpisset-sub-menu>.menu-item-has-children.wpisset-cat-mega-menu-bg-image-2>.sub-menu {
	background-color: #fff;
	background-image: url(../img/tmp_banners/cat-megamenu-3.jpg);
	background-position: right bottom;
	background-size: auto;
	background-attachment: scroll;
	background-repeat: no-repeat
}

.wpisset-sub-menu>.menu-item-has-children.wpisset-cat-mega-menu-bg-image-3>.sub-menu {
	background-color: #fff;
	background-image: url(../img/tmp_banners/cat-megamenu-5.png);
	background-position: right bottom;
	background-size: auto;
	background-attachment: scroll;
	background-repeat: no-repeat
}

.wpisset-sub-menu>.menu-item-has-children.wpisset-cat-mega-menu-bg-image-4>.sub-menu {
	background-color: #fff;
	background-image: url(../img/tmp_banners/cat-megamenu-4.png);
	background-position: right bottom;
	background-size: auto;
	background-attachment: scroll;
	background-repeat: no-repeat
}

.wpisset-sub-menu>.menu-item-has-children.wpisset-cat-mega-menu-bg-image-5>.sub-menu {
	background-color: #fff;
	background-image: url(../img/tmp_banners/cat-megamenu-2.jpg);
	background-position: right bottom;
	background-size: auto;
	background-attachment: scroll;
	background-repeat: no-repeat
}

.wpisset-sub-menu>.menu-item-has-children.wpisset-cat-mega-menu-bg-image-6>.sub-menu {
	background-color: #fff;
	background-image: url(../img/tmp_banners/cat-megamenu-3-2.png);
	background-position: right bottom;
	background-size: auto;
	background-attachment: scroll;
	background-repeat: no-repeat
}

.wpisset-sub-menu>.menu-item-has-children.wpisset-cat-mega-menu-bg-image-7>.sub-menu {
	background-color: #fff;
	background-image: url(../img/tmp_banners/cat-megamenu-5-3.jpg);
	background-position: right bottom;
	background-size: auto;
	background-attachment: scroll;
	background-repeat: no-repeat
}

.wpisset-sub-menu>.menu-item-has-children.wpisset-cat-mega-menu-bg-image-8>.sub-menu {
	background-color: #fff;
	background-image: url(../img/tmp_banners/cat-megamenu-4-3.jpg);
	background-position: right bottom;
	background-size: auto;
	background-attachment: scroll;
	background-repeat: no-repeat
}

.wpisset-sub-menu>.menu-item-has-children.wpisset-cat-mega-menu-bg-image-9>.sub-menu {
	background-color: #fff;
	background-image: url(../img/tmp_banners/cat-megamenu-2-2.jpg);
	background-position: right bottom;
	background-size: auto;
	background-attachment: scroll;
	background-repeat: no-repeat
}

.wpisset-sub-menu>.menu-item-has-children.wpisset-cat-mega-menu-bg-image-10>.sub-menu {
	background-color: #fff;
	background-image: url(../img/tmp_banners/cat-megamenu-2-3.jpg);
	background-position: right bottom;
	background-size: auto;
	background-attachment: scroll;
	background-repeat: no-repeat
}

#wpisset-pre-header {
	border-color: rgba(255, 255, 255, .1)
}

.wpisset-promo-banner {
	background-color: #052e68;
	background-image: url(../img/tmp_banners/promo-banner-2.jpg);
	background-position: center center;
	background-size: auto;
	background-attachment: scroll;
	background-repeat: no-repeat
}

.wpisset-header-bg-border {
	background-color: #fff;
	background-image: url(../img/tmp_banners/header-border-bg1.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat
}

.wpisset-footer-newsletter {
	background-color: #031d42;
	background-image: url(../img/footer.png);
	background-position: center center;
	background-size: cover;
	background-attachment: scroll;
	background-repeat: repeat
}

#wpisset-pre-header {
	background-color: #f5f5f5
}

.wpisset-promo-banner {
	display: none
}

.wpisset-post-image-link img {
	width: 100%
}