<div class="wpisset-footer-iconblocks">
    <div class="wpisset-inner-footer-iconblocks wpisset-container wpisset-container-center">
        <div class="wpisset-row">
            <div class="wpisset-col-xs-12">
                <div class=" wpisset_ele_es_icons1 wpisset_ele_es_icons1-1635416624" >
                    <div class="wpisset-ele-es-icons1 wpisset-ele-es-icons1-col-4">
                        <a href="" title="" class="wpisset-ele-es-icons1-item wpisset-ele-es-icons1-icon">
                            <div class="wpisset-ele-es-icons1-item-wrap">
                                <div class="wpisset-ele-es-icons1-item-inner">
                                    <div class="wpisset-ele-es-icons1-item-icon">
                                        <%= image_tag '/img/icons_footer/truck.png', alt: '', title: '' %>
                                    </div>
                                    <div class="wpisset-ele-es-icons1-item-content">
                                        <h3>CHÍNH SÁCH GIAO HÀNG</h3>
                                        <span>Nhận hàng và thanh toán tại nhà</span>
                                    </div>
                                </div>
                                <span class="wpisset-ele-es-icons1-cursor-wrap"><span class="wpisset-ele-es-icons1-cursor-holder"><span class="wpisset-ele-es-icons1-cursor"></span></span></span>
                            </div>
                        </a>
                        <a href="" title="" class="wpisset-ele-es-icons1-item wpisset-ele-es-icons1-icon">
                            <div class="wpisset-ele-es-icons1-item-wrap">
                                <div class="wpisset-ele-es-icons1-item-inner">
                                    <div class="wpisset-ele-es-icons1-item-icon">
                                        <%= image_tag '/img/icons_footer/Credit-Card.png', alt: '', title: '' %>
                                    </div>
                                    <div class="wpisset-ele-es-icons1-item-content">
                                        <h3>Thanh toán tiện lợi</h3>
                                        <span>COD, chuyển khoản, VISA</span>
                                    </div>
                                </div>
                                <span class="wpisset-ele-es-icons1-cursor-wrap"><span class="wpisset-ele-es-icons1-cursor-holder"><span class="wpisset-ele-es-icons1-cursor"></span></span></span>
                            </div>
                        </a>
                        <a href="" title="" class="wpisset-ele-es-icons1-item wpisset-ele-es-icons1-icon">
                            <div class="wpisset-ele-es-icons1-item-wrap">
                                <div class="wpisset-ele-es-icons1-item-inner">
                                    <div class="wpisset-ele-es-icons1-item-icon">
                                        <%= image_tag '/img/icons_footer/box.png', alt: '', title: '' %>
                                    </div>
                                    <div class="wpisset-ele-es-icons1-item-content">
                                        <h3>ĐỔI TRẢ DỄ DÀNG</h3>
                                        <span>Dùng thử trong vòng 3 ngày</span>
                                    </div>
                                </div>
                                <span class="wpisset-ele-es-icons1-cursor-wrap"><span class="wpisset-ele-es-icons1-cursor-holder"><span class="wpisset-ele-es-icons1-cursor"></span></span></span>
                            </div>
                        </a>
                        <a href="" title="" class="wpisset-ele-es-icons1-item wpisset-ele-es-icons1-icon">
                            <div class="wpisset-ele-es-icons1-item-wrap">
                                <div class="wpisset-ele-es-icons1-item-inner">
                                    <div class="wpisset-ele-es-icons1-item-icon">
                                        <%= image_tag '/img/icons_footer/Chat.png', alt: '', title: '' %>
                                    </div>
                                    <div class="wpisset-ele-es-icons1-item-content">
                                        <h3>HỖ TRỢ NHIỆT TÌNH</h3>
                                        <span>Tư vấn, giải đáp mọi thắc mắc</span>
                                    </div>
                                </div>
                                <span class="wpisset-ele-es-icons1-cursor-wrap"><span class="wpisset-ele-es-icons1-cursor-holder"><span class="wpisset-ele-es-icons1-cursor"></span></span></span>
                            </div>
                        </a>
                    </div>
                </div>
                <svg class="wpssiet-es-cs"><style></style></svg>
            </div>
        </div>
    </div>
</div>