<div id="wpisset-cookie-notice" class="wpisset-cookies-accept" data-cookie-expires="365">
    <div class="wpisset-cookies-notice-wrap">
        <p>Tell a fiend about Eletra Electronics &amp; get 20% off your next order. <a href="/contact">Get 20% Off*</a></p>
        <span class="wpisset-cookie-notice-close"></span>
    </div>
</div>