<div class="wpisset-promo-banner">
    <div class="wpisset-container wpisset-container-center wpisset-container-fluid wpisset-visible-large">
        <div class="wpisset-row">
            <div class="wpisset-col-md-6 wpisset-col-xs-12">
                <span class="wpisset-custom-title" style="color: #ffffff;font-size: 24px;font-weight:500;">iPhone16</span> <span class="wpisset-custom-title" style="color: #ffffff;font-size: 24px;font-weight:400;">Say Hello to G7.</span> <span class="wpisset-custom-title wpisset-ele-es-custom-text-animate" style="color: #f1bc00;font-size: 24px;font-weight:500;">20% OFF</span><br><span class="wpisset-custom-text-wrap" style=""><span class="wpisset-custom-text" style="color: #ffffff;font-size: 14px;font-weight:500;background-color: #dc3545;padding: 0 0.5rem;letter-spacing: 0.5px">ENDS SUNDAY.</span></span>
                <div class="wpisset-empty-space wpisset-empty-space-607556199"></div>
                <svg class="wpssiet-es-cs">
                    <style>.wpisset-empty-space.wpisset-empty-space-607556199{height:0.5rem}</style>
                </svg>
            </div>
            <div class="wpisset-promo-banner-right-column wpisset-col-md-6 wpisset-col-xs-12"><span class="wpisset-custom-text-wrap" style="margin-top: 0.5rem;"><span class="wpisset-custom-text-desc" style="color: #ffffff;">Apply coupone code</span><span class="wpisset-custom-text" style="color: #0095E8;font-size: 24px;font-weight:500;letter-spacing: 0.5px">SALE2021</span></span><a href="/shop" class="wpisset-button"><span>Learn More</span></a></div>
        </div>
    </div>
</div>