<% title 'Tra Cứu Đơn Hàng' %>

<div class="wpisset-row wpisset-main-grid">
    <main id="main" class="wpisset-main wpisset-col-xs-12">
        <div class="wpisset_yoast_breadcrumb">
            <p id="breadcrumbs">
                <span>
                    <span>
                        <%= link_to 'Trang Chủ', root_link, title: '' %> » 
                        <span class="breadcrumb_last" aria-current="page">Tra Cứu Đơn Hàng</span>
                    </span>
                </span>
            </p>
        </div>
        <div class="entry-content">
            <div class="vc_row wpb_row vc_row-fluid vc_custom_1609764375679">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h1 style="font-size:30px;text-align:left" class="vc_custom_heading">Tra Cứu Đơn Hàng</h1>
                            <div class="wpb_text_column wpb_content_element " >
                                <div class="wpb_wrapper">
                                    <div class="thcn">
                                        <form action="" method="post" class="thcn-form thcn-form-track-order track_order">
                                            <p>Nhập thông tin đơn hàng cần tra cứu (Mã đơn hàng và Địa chỉ email đặt hàng). Thông tin chi tiết sẽ được gửi đến email đặt hàng của bạn.</p>
                                            <p class="form-row form-row-first">
                                                <label for="orderid">Mã đơn hàng</label>
                                                <input class="input-text" type="text" name="" id="" value="" placeholder="Found in your order confirmation email."/>
                                            </p>
                                            <p class="form-row form-row-last">
                                                <label for="order_email">Địa chỉ email</label>
                                                <input class="input-text" type="text" name="" id="" value="" placeholder="Email you used during checkout."/>
                                            </p>
                                            <div class="clear"></div>
                                            <p class="form-row">
                                                <button type="submit" class="button" name="" value="Track">Kiểm Tra</button>
                                            </p>
                                            <input type="hidden" id="" name="thcn-order-tracking-nonce" value=""/>
                                            <input type="hidden" id="" name="" value=""/> 
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="entry-content-clear"></div>
        </div>
    </main>
</div>