<% title 'Trang Không Tồn Tại' %>
<div class="wpisset-row">
    <main id="main" class="wpisset-main wpisset-page-content wpisset-col-xs-12">
        <div class="wpisset-404-icon-wrap">
            <svg width="240" height="240" version="1.1" viewBox="0 0 240 240" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g transform="scale(5)">
                    <path fill="#000" d="M34.27,0h-20.54l-13.73,13.73v20.54l13.73,13.73h20.54l13.73,-13.73v-20.54Zm11.73,33.44l-12.56,12.56h-18.88l-12.56,-12.56v-18.88l12.56,-12.56h18.88l12.56,12.56v18.88Z"></path>
                    <path fill="#000" d="M32.29,14.29l-8.29,8.3l-8.29,-8.3l-1.42,1.42l8.3,8.29l-8.3,8.29l1.42,1.42l8.29,-8.3l8.29,8.3l1.42,-1.42l-8.3,-8.29l8.3,-8.29l-1.42,-1.42Z"></path>
                </g>
            </svg>
        </div>
        <h1 class="entry-title">404 - This page couldn&#039;t be found.</h1>
        <div class="entry-content">
            <p>Oops! We&#039;re sorry, this page couldn&#039;t be found!</p>
            <form role="search" method="get" id="searchform" class="searchform" action="http://eletra.lpdthemesdemo2.com/">
                <p class="wpisset-animated-label-wrap"> <input type="search" id="s" name="s" value="" placeholder="Search &hellip;" title="Press enter to search"/> <label for="s" class="wpisset-animated-label">Search &hellip;</label> </p>
                <input type="submit" class="wpisset-button" value="Search"> 
            </form>
        </div>
    </main>
</div>
<%=render 'frontend/modules/recent_viewed' %>