<div class="wpisset-row wpisset-main-grid">
    <main id="main" class="wpisset-main wpisset-col-xs-12">
        <div class="wpisset_yoast_breadcrumb">
            <p id="breadcrumbs"><span><span><a href="http://eletra.lpdthemesdemo2.com/">Home</a> » <span class="breadcrumb_last" aria-current="page">My Account</span></span></span></p>
        </div>
        <h1 class="entry-title">My Account</h1>
        <div class="entry-content">
            <div class="thcn">
                <div class="thcn-notices-wrapper"></div>
                <div class="u-columns col2-set" id="customer_login">
                    <div class="u-column1 col-1">
                        <h2>Login</h2>
                        <form class="thcn-form thcn-form-login login" method="post">
                            <p class="thcn-form-row thcn-form-row--wide form-row form-row-wide">
                                <label for="username">Username or email address&nbsp;<span class="required">*</span></label>
                                <input type="text" class="thcn-Input thcn-Input--text input-text" name="username" id="username" autocomplete="username" value="" />			
                            </p>
                            <p class="thcn-form-row thcn-form-row--wide form-row form-row-wide">
                                <label for="password">Password&nbsp;<span class="required">*</span></label>
                                <input class="thcn-Input thcn-Input--text input-text" type="password" name="password" id="password" autocomplete="current-password" />
                            </p>
                            <p class="form-row">
                                <label class="thcn-form__label thcn-form__label-for-checkbox thcn-form-login__rememberme">
                                <input class="thcn-form__input thcn-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever" /> <span>Remember me</span>
                                </label>
                                <input type="hidden" id="thcn-login-nonce" name="thcn-login-nonce" value="111adb136a" /><input type="hidden" name="_wp_http_referer" value="/my-account/" />				<button type="submit" class="thcn-button button thcn-form-login__submit" name="login" value="Log in">Log in</button>
                            </p>
                            <p class="thcn-LostPassword lost_password">
                                <a href="http://eletra.lpdthemesdemo2.com/my-account/lost-password/">Lost your password?</a>
                            </p>
                        </form>
                    </div>
                    <div class="u-column2 col-2">
                        <h2>Register</h2>
                        <form method="post" class="thcn-form thcn-form-register register"  >
                            <p class="thcn-form-row thcn-form-row--wide form-row form-row-wide">
                                <label for="reg_email">Email address&nbsp;<span class="required">*</span></label>
                                <input type="email" class="thcn-Input thcn-Input--text input-text" name="email" id="reg_email" autocomplete="email" value="" />			
                            </p>
                            <p>A password will be sent to your email address.</p>
                            <div class="thcn-privacy-policy-text">
                                <p>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="http://eletra.lpdthemesdemo2.com/?page_id=3" class="thcn-privacy-policy-link" target="_blank">privacy policy</a>.</p>
                            </div>
                            <p class="thcn-form-row form-row">
                                <input type="hidden" id="thcn-register-nonce" name="thcn-register-nonce" value="8e45984c83" /><input type="hidden" name="_wp_http_referer" value="/my-account/" />				<button type="submit" class="thcn-Button thcn-button button thcn-form-register__submit" name="register" value="Register">Register</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="entry-content-clear"></div>
        </div>
    </main>
</div>