<div id="wpisset-page-sticky-header" class="wpisset-page-sticky-header">
    <div class="wpisset-sticky-navigation wpisset-container wpisset-container-center wpisset-container-fluid wpisset-visible-large">
        <div class="wpisset-row wpisset-middle-xs">
            <div class="wpisset-logo-container wpisset-center-xs wpisset-col-xs-4 wpisset-middle-xs wpisset-flex-basic-off-grow-0">
                <a href="#wpisset-mobile-navigation" class="wpisset-burger-navigation wpisset-mobile-navigation" data-navigation-title="DANH MỤC TRANG WEB"><div class="ham"><div class="bar top"></div><div class="bar middle"></div><div class="bar bottom"></div></div></a>
                <div class="wpisset-mobile-logo">
                    <%= link_to image_tag('/img/thcn-logo.png', alt: 'Logo Tìm Hàng Công Nghệ - TimHangCongNghe.Com', title: 'Logo Tìm Hàng Công Nghệ - TimHangCongNghe.Com'), 
                            root_link, title: 'Logo Tìm Hàng Công Nghệ - TimHangCongNghe.Com', class: 'wpisset-remove-font-size' %>
                </div>
            </div>
            <div class="wpisset-search-container wpisset-center-xs wpisset-col-xs-4 wpisset-middle-xs wpisset-flex-basic-off-grow-1">
                <form role="search" method="get" class="wpisset-header-product-search" action="">
                    <div class="wpisset-searchform-product-cat-wrap"></div>
                    <div class="wpisset-searchform-product-input-wrap">
                        <label class="screen-reader-text" for="">Tìm kiếm:</label>
                        <input type="search" id="" class="search-field" placeholder="Nhập tên sản phẩm, từ khóa cần tìm" value="" name="" />
                    </div>
                    <div class="wpisset-searchform-product-btn-wrap"><button type="submit" class="wpisset-button" value="Tìm kiếm"><svg class="svg-icon" aria-hidden="true" role="img" focusable="false" width="36" height="36" viewBox="0 0 36 36" xmlns="//www.w3.org/2000/svg"><path d="M23.608,23.707c-0.195,0.195 -0.45,0.293 -0.705,0.293c-0.255,0 -0.51,-0.098 -0.704,-0.293l-7.653,-7.682c-1.535,1.233 -3.477,1.975 -5.59,1.975c-4.944,0 -8.967,-4.037 -8.967,-8.999c-7.77156e-16,-4.963 4.023,-9.001 8.967,-9.001c4.944,0 8.966,4.038 8.966,9.001c0,2.121 -0.739,4.07 -1.967,5.61l7.653,7.682c0.389,0.39 0.389,1.024 0,1.414Zm-14.652,-21.707c-3.846,0 -6.974,3.141 -6.974,7.001c0,3.859 3.128,6.999 6.974,6.999c3.845,0 6.974,-3.14 6.974,-6.999c0,-3.86 -3.129,-7.001 -6.974,-7.001Z" transform="scale(1.5)" fill-rule="evenodd" fill="%23000"></path></svg></button></div>
                    <input type="hidden" name="" value="" />
                </form>
            </div>
            <div class="wpisset-icons-container wpisset-center-xs wpisset-col-xs-4 wpisset-middle-xs wpisset-flex-basic-off-grow-0">
                <div class="wpisset-header-thcncompare-btn wpisset-cursor-anim-element wpisset-cursor-anim-element-2" data-cursor-text="SO SÁNH SẢN PHẨM" data-cursor-color="#d9214e" data-cursor-text-color="#fff">
                    <a href="#" class="yith-thcncompare-open" title="So sánh sản phẩm"><svg class="svg-icon" aria-hidden="true" role="img" focusable="false" width="36" height="36" viewBox="0 0 36 36" xmlns="//www.w3.org/2000/svg"><g transform="scale(0.75)"><path fill="%23000" d="M42.54,13.8l-1.09,1.7l4.97231e-07,3.2487e-07c4.65585,3.04194 5.96419,9.28224 2.92224,13.9381c-1.84846,2.82916 -4.99281,4.54247 -8.37225,4.56191h-21.59l5.29,-5.3l-1.41,-1.4l-7.72,7.7l7.72,8l1.41,-1.53l-5.29,-5.47h21.59l1.01766e-07,5.12685e-10c6.5942,0.0332207 11.9668,-5.2855 12,-11.8797c0.000202022,-0.0401008 0.000202022,-0.0802023 -1.02537e-09,-0.120303v0l2.73309e-07,-0.000131589c0.00849608,-4.10121 -2.04255,-7.93273 -5.46011,-10.1999Z"></path><path fill="%23000" d="M2,24.09l-2.9211e-07,-3.24611e-05c-0.0496877,-5.52262 4.387,-10.0399 9.90963,-10.0896c0.0301342,-0.000271121 0.0602696,-0.000406025 0.090405,-0.000404707h21.59l-5.29,5.3l1.41,1.4l7.69,-7.7l-7.7,-8l-1.41,1.54l5.3,5.46h-21.59l5.37636e-07,-6.72894e-09c-6.70973,0.0839775 -12.081,5.59137 -11.997,12.3011c0.0504189,4.02844 2.09441,7.76992 5.45699,9.9889l1.09,-1.69l-1.56931e-07,-1.0369e-07c-2.85577,-1.88691 -4.56685,-5.0872 -4.55,-8.51Z"></path></g></svg></a>
                </div>
                <div class="wpisset-woo-cart-wrap wpisset-cursor-anim-element wpisset-cursor-anim-element-2" data-cursor-text="GIỎ HÀNG CỦA BẠN" data-cursor-color="#d9214e" data-cursor-text-color="#ffffff">
                    <div class="wpisset-woo-cart menu-item-has-children">
                        <a class="wpisset-woo-cart-inner wpisset-middle-xs" href="#wpisset-woo-sub-cart" title="Giỏ hàng của bạn" data-navigation-title="GIỎ HÀNG CỦA BẠN" data-cart-count="4">
                            <div class="wpisset-woo-cart-icon-wrap">
                                <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" width="90" height="90" viewBox="0 0 90 90" xmlns="//www.w3.org/2000/svg"><g transform="scale(1.875)"><path fill="%23000" d="M33,12v-3v0c0,-4.97056 -4.02944,-9 -9,-9c-4.97056,0 -9,4.02944 -9,9v3h-11l1.56,27.53l1.3567e-07,2.29989e-06c0.280938,4.76246 4.22927,8.47828 9,8.47h18.9l-4.29432e-08,-7.45217e-11c4.77073,0.00827901 8.71906,-3.70754 9,-8.47l1.54,-27.53h-11Zm-16,-3l7.81597e-14,1.05697e-06c-5.83749e-07,-3.86599 3.13401,-7 7,-7c3.86599,-5.83749e-07 7,3.13401 7,7c0,0 0,7.10543e-15 0,7.10543e-15v3h-14v-3Zm23.44,30.41l1.39807e-07,-2.38291e-06c-0.217374,3.70501 -3.28862,6.59637 -7,6.59h-18.9l-3.43782e-08,5.90248e-11c-3.71138,0.00637129 -6.78262,-2.88499 -7,-6.59l-1.48,-25.41h8.94v9h2v-9h14v9h2v-9h8.94Z"></path></g></svg>
                                <span class="wpisset-woo-cart-count"><span>5</span></span>
                            </div>
                            <div class="wpisset-woo-cart-total">
                                <span class="thcn-Price-amount amount">
                                    <bdi><%= format_price(109950000) %></bdi>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>