<div id="wpisset-pre-header" class="wpisset-pre-header">
    <div class="wpisset-mobile-pre-header wpisset-container wpisset-container-center wpisset-container-fluid wpisset-hidden-large">
        <div class="wpisset-row">
            <div class="wpisset-col-xs-12 wpisset-center-xs">
                <div class="wpisset-preheader-content-wrap">Mua Sắm Trực Tuyến Sản Phẩm CNTT Chính Hãng</div>
            </div>
        </div>
    </div>
    <div class="wpisset-inner-pre-header wpisset-container wpisset-container-center wpisset-container-fluid wpisset-visible-large">
        <div class="wpisset-row">
            <div class="wpisset-col-md-6 wpisset-col-xs-12 wpisset-start-md wpisset-center-xs">
                <div class="wpisset-preheader-content-wrap">Mua Sắm Trực Tuyến Sản Phẩm CNTT Chính Hãng</div>
            </div>
            <div class="wpisset-col-md-6 wpisset-col-xs-12 wpisset-end-md wpisset-center-xs ">
                <ul class="wpisset-menu-preheader wpisset-menu-preheader-right">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <%= link_to image_tag('/img/main-icons/phone-call.png', alt: '', title: '') + '(028) 3984 7690', 'tel:02839847690', title: '' %>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <%= link_to image_tag('/img/main-icons/live-chat.png', alt: '', title: '') + 'Live Chat', '', title: '' %>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <%= link_to image_tag('/img/main-icons/information.png', alt: '', title: '') + 'Hướng Dẫn', '', title: '' %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>