<div id="wpisset-pre-header" class="wpisset-pre-header">
    <div class="wpisset-mobile-pre-header wpisset-container wpisset-container-center wpisset-container-fluid wpisset-hidden-large">
        <div class="wpisset-row">
            <div class="wpisset-col-xs-12 wpisset-center-xs">
                <div class="wpisset-preheader-content-wrap">Mua Sản Phẩm Tin Học Chính Hãng Trực Tuyến</div>
            </div>
        </div>
    </div>
    <div class="wpisset-inner-pre-header wpisset-container wpisset-container-center wpisset-container-fluid wpisset-visible-large">
        <div class="wpisset-row">
            <div class="wpisset-col-md-6 wpisset-col-xs-12 wpisset-start-md wpisset-center-xs">
                <div class="wpisset-preheader-content-wrap">Mua Sản Phẩm Tin Học Chính Hãng Trực Tuyến</div>
            </div>
            <div class="wpisset-col-md-6 wpisset-col-xs-12 wpisset-end-md wpisset-center-xs ">
                <ul class="wpisset-menu-preheader wpisset-menu-preheader-right">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <%= link_to image_tag('/img/main-icons/phone-call.png', alt: 'Hotline tư vấn', title: 'Hotline tư vấn') + '(028) 3984 7690', 'tel:02839847690', title: 'Hotline tư vấn' %>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <%= link_to image_tag('/img/main-icons/live-chat.png', alt: 'Live chat tư vấn', title: 'Live chat tư vấn') + 'Live chat', '//zalo.me/2132561812454227126', title: 'Live chat tư vấn', target: '_blank', rel: 'noopener' %>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <%= link_to image_tag('/img/main-icons/information.png', alt: 'Hỗ trợ khách hàng', title: 'Hỗ trợ khách hàng') + 'Hỗ trợ', '', title: 'Hỗ trợ khách hàng' %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>