<div id="wpisset-pre-header" class="wpisset-pre-header">
    <div class="wpisset-mobile-pre-header wpisset-container wpisset-container-center wpisset-container-fluid wpisset-hidden-large">
        <div class="wpisset-row">
            <div class="wpisset-col-xs-12 wpisset-center-xs">
                <div class="wpisset-preheader-content-wrap">Tìm Hàng Công Nghệ for B2B, Gov, Students & More</div>
            </div>
        </div>
    </div>
    <div class="wpisset-inner-pre-header wpisset-container wpisset-container-center wpisset-container-fluid wpisset-visible-large">
        <div class="wpisset-row">
            <div class="wpisset-col-md-6 wpisset-col-xs-12 wpisset-start-md wpisset-center-xs">
                <div class="wpisset-preheader-content-wrap">Tìm Hàng Công Nghệ for B2B, Gov, Students & More</div>
            </div>
            <div class="wpisset-col-md-6 wpisset-col-xs-12 wpisset-end-md wpisset-center-xs ">
                <ul class="wpisset-menu-preheader wpisset-menu-preheader-right">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <%= link_to image_tag('/img/icons_menu/pre-info.png', alt: '', title: '') + '<span> '.html_safe + 'Dịch Vụ' + '</span>'.html_safe, '', title: '' %>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <%= link_to image_tag('/img/icons_menu/pre-lock.png', alt: '', title: '') + '<span> '.html_safe + 'Tài khoản' + '</span>'.html_safe, '', title: '' %>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <%= link_to image_tag('/img/icons_menu/pre-pin.png', alt: '', title: '') + '<span> '.html_safe + 'Liên hệ' + '</span>'.html_safe, '', title: '' %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>