<% title 'Đặt Hàng Thành Công' %>

<div class="wpisset-row wpisset-main-grid">
    <main id="main" class="wpisset-main wpisset-col-xs-12">
        <div class="wpisset_yoast_breadcrumb">
            <p id="breadcrumbs"><span><span><a href="http://eletra.lpdthemesdemo2.com/">Home</a> » <span class="breadcrumb_last" aria-current="page">Checkout</span></span></span></p>
        </div>
        <h1 class="entry-title">Checkout</h1>
        <div class="entry-content">
            <div class="thcn">
                <div class="thcn-order">
                    <p class="thcn-notice thcn-notice--success thcn-thankyou-order-received">Thank you. Your order has been received.</p>
                    <ul class="thcn-order-overview thcn-thankyou-order-details order_details">
                        <li class="thcn-order-overview__order order">
                            Order number:					<strong>3620</strong>
                        </li>
                        <li class="thcn-order-overview__date date">
                            Date:					<strong>September 6, 2021</strong>
                        </li>
                        <li class="thcn-order-overview__total total">
                            Total:					<strong><span class="thcn-Price-amount amount"><bdi><span class="thcn-Price-currencySymbol">&euro;</span>15,50</bdi></span></strong>
                        </li>
                        <li class="thcn-order-overview__payment-method method">
                            Payment method:						<strong>Direct bank transfer</strong>
                        </li>
                    </ul>
                    <section class="thcn-order-details">
                        <h2 class="thcn-order-details__title">Order details</h2>
                        <table class="thcn-table thcn-table--order-details shop_table order_details">
                            <thead>
                                <tr>
                                    <th class="thcn-table__product-name product-name">Product</th>
                                    <th class="thcn-table__product-table product-total">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="thcn-table__line-item order_item">
                                    <td class="thcn-table__product-name product-name">
                                        <a href="http://eletra.lpdthemesdemo2.com/product/aplle-lightning-to-usb-cable-2-m/">APLLE Lightning to USB cable - 2 Meter</a> <strong class="product-quantity">&times;&nbsp;1</strong>	
                                    </td>
                                    <td class="thcn-table__product-total product-total">
                                        <span class="thcn-Price-amount amount"><bdi><span class="thcn-Price-currencySymbol">&euro;</span>14,50</bdi></span>	
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th scope="row">Subtotal:</th>
                                    <td><span class="thcn-Price-amount amount"><span class="thcn-Price-currencySymbol">&euro;</span>14,50</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Shipping:</th>
                                    <td><span class="thcn-Price-amount amount"><span class="thcn-Price-currencySymbol">&euro;</span>1,00</span>&nbsp;<small class="shipped_via">via Flat rate</small></td>
                                </tr>
                                <tr>
                                    <th scope="row">Payment method:</th>
                                    <td>Direct bank transfer</td>
                                </tr>
                                <tr>
                                    <th scope="row">Total:</th>
                                    <td><span class="thcn-Price-amount amount"><span class="thcn-Price-currencySymbol">&euro;</span>15,50</span></td>
                                </tr>
                            </tfoot>
                        </table>
                    </section>
                </div>
            </div>
            <div class="entry-content-clear"></div>
        </div>
    </main>
</div>