<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<!-- This site is optimized with the Yoast SEO plugin v16.1.1 - //yoast.com/wordpress/plugins/seo/ -->
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Home II - Eletra" />
<meta property="og:url" content="//eletra.lpdthemesdemo2.com/home-ii/" />
<meta property="og:site_name" content="Eletra" />
<meta property="article:modified_time" content="2021-02-11T08:46:14+00:00" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:label1" content="Est. reading time">
<meta name="twitter:data1" content="1 minute">
<script type="application/ld+json" class="yoast-schema-graph">{"@context":"//schema.org","@graph":[{"@type":"WebSite","@id":"//eletra.lpdthemesdemo2.com/#website","url":"//eletra.lpdthemesdemo2.com/","name":"Eletra","description":"thcn Electronics Store","potentialAction":[{"@type":"SearchAction","target":"//eletra.lpdthemesdemo2.com/?s={search_term_string}","query-input":"required name=search_term_string"}],"inLanguage":"en-US"},{"@type":"WebPage","@id":"//eletra.lpdthemesdemo2.com/home-ii/#webpage","url":"//eletra.lpdthemesdemo2.com/home-ii/","name":"Home II - Eletra","isPartOf":{"@id":"//eletra.lpdthemesdemo2.com/#website"},"datePublished":"2020-12-18T13:04:42+00:00","dateModified":"2021-02-11T08:46:14+00:00","breadcrumb":{"@id":"//eletra.lpdthemesdemo2.com/home-ii/#breadcrumb"},"inLanguage":"en-US","potentialAction":[{"@type":"ReadAction","target":["//eletra.lpdthemesdemo2.com/home-ii/"]}]},{"@type":"BreadcrumbList","@id":"//eletra.lpdthemesdemo2.com/home-ii/#breadcrumb","itemListElement":[{"@type":"ListItem","position":1,"item":{"@type":"WebPage","@id":"//eletra.lpdthemesdemo2.com/","url":"//eletra.lpdthemesdemo2.com/","name":"Home"}},{"@type":"ListItem","position":2,"item":{"@type":"WebPage","@id":"//eletra.lpdthemesdemo2.com/home-ii/","url":"//eletra.lpdthemesdemo2.com/home-ii/","name":"Home II"}}]}]}</script>
<!-- / Yoast SEO plugin. -->
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="Eletra &raquo; Feed" href="//eletra.lpdthemesdemo2.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="Eletra &raquo; Comments Feed" href="//eletra.lpdthemesdemo2.com/comments/feed/" />
<script type="text/javascript">
    window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/eletra.lpdthemesdemo2.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.7.2"}};
    !function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){var a=String.fromCharCode;p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0);e=i.toDataURL();return p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(!p||!p.fillText)return!1;switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])?!1:!s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case"emoji":return!s([55357,56424,8205,55356,57212],[55357,56424,8203,55356,57212])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(n=t.source||{}).concatemoji?c(n.concatemoji):n.wpemoji&&n.twemoji&&(c(n.twemoji),c(n.wpemoji)))}(window,document,window._wpemojiSettings);
</script>
<style type="text/css">
    img.wp-smiley,
    img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
    }
</style>

<link rel="//api.w.org/" href="//eletra.lpdthemesdemo2.com/wp-json/" />
<link rel="alternate" type="application/json" href="//eletra.lpdthemesdemo2.com/wp-json/wp/v2/pages/27" />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="//eletra.lpdthemesdemo2.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="//eletra.lpdthemesdemo2.com/wp-includes/wlwmanifest.xml" />
<meta name="generator" content="WordPress 5.7.2" />
<meta name="generator" content="thcn 5.2.3" />
<meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress."/>
<meta name="generator" content="Powered by Slider Revolution 6.4.8 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
<link rel='shortlink' href='//eletra.lpdthemesdemo2.com/?p=27' />
<link rel="alternate" type="application/json+oembed" href="//eletra.lpdthemesdemo2.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Feletra.lpdthemesdemo2.com%2Fhome-ii%2F" />
<link rel="alternate" type="text/xml+oembed" href="//eletra.lpdthemesdemo2.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Feletra.lpdthemesdemo2.com%2Fhome-ii%2F&#038;format=xml" />




<!-- <div class="widget-odd wpisset-widget-border wpisset-widget-disable-title-elements wpisset-widget-border-block widget thcn widget_price_filter">
    <h4 class="wpisset-widgettitle"><span>GIÁ BÁN</span></h4>
    <form method="get" action="//eletra.lpdthemesdemo2.com/shop/">
        <div class="price_slider_wrapper">
            <div class="price_slider" style="display:none;"></div>
            <div class="price_slider_amount" data-step="10">
                <input type="text" id="min_price" name="min_price" value="10" data-min="10" placeholder="Min price"/>
                <input type="text" id="max_price" name="max_price" value="2600" data-max="2600" placeholder="Max price"/>
                <button type="submit" class="button">LỌC</button> 
                <div class="price_label" style="display:none;">
                    Giá: <span class="from"></span> &mdash; <span class="to"></span>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </form>
</div>
<div class="widget-even wpisset-widget-border wpisset-widget-disable-title-elements wpisset-widget-border-block widget thcn widget_rating_filter">
    <h4 class="wpisset-widgettitle"><span>ĐIỂM ĐÁNH GIÁ</span></h4>
    <ul>
        <li class="wc-layered-nav-rating">
            <a href="">
                <span class="star-rating">
                    <span style="width:100%">
                        Đánh giá <strong class="rating">5.0</strong> / 5.0
                    </span>
                </span> (18)
            </a>
        </li>
        <li class="wc-layered-nav-rating">
            <a href="">
                <span class="star-rating">
                    <span style="width:80%">
                        Đánh giá <strong class="rating">4.0</strong> / 5.0
                    </span>
                </span> (18)
            </a>
        </li>
        <li class="wc-layered-nav-rating">
            <a href="">
                <span class="star-rating">
                    <span style="width:60%">
                        Đánh giá <strong class="rating">3.0</strong> / 5.0
                    </span>
                </span> (18)
            </a>
        </li>
        <li class="wc-layered-nav-rating">
            <a href="">
                <span class="star-rating">
                    <span style="width:40%">
                        Đánh giá <strong class="rating">2.0</strong> / 5.0
                    </span>
                </span> (18)
            </a>
        </li>
        <li class="wc-layered-nav-rating">
            <a href="">
                <span class="star-rating">
                    <span style="width:20%">
                        Đánh giá <strong class="rating">1.0</strong> / 5.0
                    </span>
                </span> (18)
            </a>
        </li>
    </ul>
</div> -->



<div class="yith-wfbt-section thcn">
    <h3>CÙNG SERIES</h3>
    <!-- <form class="yith-wfbt-form" method="post" action="">
        <table class="yith-wfbt-images">
            <tbody>
                <tr>
                    <td class="image-td" data-rel="offeringID_0">
                        <a href="http://eletra.lpdthemesdemo2.com/product/aplle-iphone-11-64-gb-purple/"><img width="1000" height="1000" src="http://eletra.lpdthemesdemo2.com/wp-content/uploads/2020/12/iphone.jpg" class="attachment-yith_wfbt_image_size size-yith_wfbt_image_size" alt="" loading="lazy" srcset="http://eletra.lpdthemesdemo2.com/wp-content/uploads/2020/12/iphone.jpg 1000w, http://eletra.lpdthemesdemo2.com/wp-content/uploads/2020/12/iphone-800x800.jpg 800w, http://eletra.lpdthemesdemo2.com/wp-content/uploads/2020/12/iphone-300x300.jpg 300w, http://eletra.lpdthemesdemo2.com/wp-content/uploads/2020/12/iphone-150x150.jpg 150w, http://eletra.lpdthemesdemo2.com/wp-content/uploads/2020/12/iphone-768x768.jpg 768w, http://eletra.lpdthemesdemo2.com/wp-content/uploads/2020/12/iphone-600x600.jpg 600w" sizes="(max-width: 1000px) 100vw, 1000px" /></a>
                    </td>
                    <td class="image_plus image_plus_1" data-rel="offeringID_1">+</td>
                    <td class="image-td" data-rel="offeringID_1">
                        <a href="http://eletra.lpdthemesdemo2.com/product/aplle-airpods-with-charging-case-white/"><img width="1000" height="1000" src="http://eletra.lpdthemesdemo2.com/wp-content/uploads/2020/12/apple-airpods-pro-wireless-charging-case.jpg" class="attachment-yith_wfbt_image_size size-yith_wfbt_image_size" alt="" loading="lazy" srcset="http://eletra.lpdthemesdemo2.com/wp-content/uploads/2020/12/apple-airpods-pro-wireless-charging-case.jpg 1000w, http://eletra.lpdthemesdemo2.com/wp-content/uploads/2020/12/apple-airpods-pro-wireless-charging-case-800x800.jpg 800w, http://eletra.lpdthemesdemo2.com/wp-content/uploads/2020/12/apple-airpods-pro-wireless-charging-case-300x300.jpg 300w, http://eletra.lpdthemesdemo2.com/wp-content/uploads/2020/12/apple-airpods-pro-wireless-charging-case-150x150.jpg 150w, http://eletra.lpdthemesdemo2.com/wp-content/uploads/2020/12/apple-airpods-pro-wireless-charging-case-768x768.jpg 768w, http://eletra.lpdthemesdemo2.com/wp-content/uploads/2020/12/apple-airpods-pro-wireless-charging-case-600x600.jpg 600w" sizes="(max-width: 1000px) 100vw, 1000px" /></a>
                    </td>
                    <td class="image_plus image_plus_2" data-rel="offeringID_2">+</td>
                    <td class="image-td" data-rel="offeringID_2"><a href="http://eletra.lpdthemesdemo2.com/product/aplle-lightning-to-usb-cable-2-m/"><img width="1000" height="1000" src="http://eletra.lpdthemesdemo2.com/wp-content/uploads/2020/12/apple-cable-lightning-usb-05m.jpg" class="attachment-yith_wfbt_image_size size-yith_wfbt_image_size" alt="" loading="lazy" srcset="http://eletra.lpdthemesdemo2.com/wp-content/uploads/2020/12/apple-cable-lightning-usb-05m.jpg 1000w, http://eletra.lpdthemesdemo2.com/wp-content/uploads/2020/12/apple-cable-lightning-usb-05m-800x800.jpg 800w, http://eletra.lpdthemesdemo2.com/wp-content/uploads/2020/12/apple-cable-lightning-usb-05m-300x300.jpg 300w, http://eletra.lpdthemesdemo2.com/wp-content/uploads/2020/12/apple-cable-lightning-usb-05m-150x150.jpg 150w, http://eletra.lpdthemesdemo2.com/wp-content/uploads/2020/12/apple-cable-lightning-usb-05m-768x768.jpg 768w, http://eletra.lpdthemesdemo2.com/wp-content/uploads/2020/12/apple-cable-lightning-usb-05m-600x600.jpg 600w" sizes="(max-width: 1000px) 100vw, 1000px" /></a></td>
                </tr>
            </tbody>
        </table> -->
        <!-- <div class="yith-wfbt-submit-block">
            <div class="price_text">
                <span class="total_price_label">
                Price for all:
                </span>
                &nbsp;
                <span class="total_price" data-total="882.5">
                <span class="thcn-Price-amount amount"><bdi><span class="thcn-Price-currencySymbol">&euro;</span>882,50</bdi></span>				</span>
            </div>
            <button type="submit" class="yith-wfbt-submit-button button">
            Add all to Cart			</button>
        </div> -->
        <ul class="yith-wfbt-items">
            <li class="yith-wfbt-item">
                <label for="offeringID_0">
                <input type="hidden" name="offeringID[]" id="offeringID_0" class="active"
                    value="71"/>
                <span class="product-name">
                This Product: APLLE iPhone 11 - 64 GB, Purple			</span>
                &ndash; <span class="price"><del aria-hidden="true"><span class="thcn-Price-amount amount"><bdi><span class="thcn-Price-currencySymbol">&euro;</span>729,00</bdi></span></del> <ins><span class="thcn-Price-amount amount"><bdi><span class="thcn-Price-currencySymbol">&euro;</span>599,00</bdi></span></ins></span>
                </label>
            </li>
            <li class="yith-wfbt-item">
                <label for="offeringID_1">
                <input type="hidden" name="offeringID[]" id="offeringID_1" class="active"
                    value="109"/>
                <span class="product-name">
                APLLE AirPods with Charging Case - White			</span>
                &ndash; <span class="price"><del aria-hidden="true"><span class="thcn-Price-amount amount"><bdi><span class="thcn-Price-currencySymbol">&euro;</span>329,00</bdi></span></del> <ins><span class="thcn-Price-amount amount"><bdi><span class="thcn-Price-currencySymbol">&euro;</span>269,00</bdi></span></ins></span>
                </label>
            </li>
            <li class="yith-wfbt-item">
                <label for="offeringID_2">
                <input type="hidden" name="offeringID[]" id="offeringID_2" class="active"
                    value="144"/>
                <span class="product-name">
                APLLE Lightning to USB cable - 2 Meter			</span>
                &ndash; <span class="price"><del aria-hidden="true"><span class="thcn-Price-amount amount"><bdi><span class="thcn-Price-currencySymbol">&euro;</span>19,00</bdi></span></del> <ins><span class="thcn-Price-amount amount"><bdi><span class="thcn-Price-currencySymbol">&euro;</span>14,50</bdi></span></ins></span>
                </label>
            </li>
        </ul>
    <!-- </form> -->
</div>