<div class="widget-odd wpisset-widget-border widget thcn widget_products">
    <h4 class="wpisset-widgettitle"><span>SẢN PHẨM MỚI</span></h4>
    <ul class="product_list_widget newest-products-list">
        <% newest_products.limit(3).each do |product| %>
            <li>
                <%= link_to image_set_tag(product.get_main_image.image(),
                            {product.get_main_image.image(:thumb193) => '193w'},
                            title: product.get_name, alt: product.get_name, size: '193x193', sizes: '(max-width: 193px) 100vw, 193px', loading: 'lazy', class: 'attachment-thcn_thumbnail size-thcn_thumbnail') + 
                            '<span class="product-title">'.html_safe + product.get_name + '</span>'.html_safe,
                    product_link(product), title: product.get_name %>
                <div class="star-rating" role="img" aria-label="Đánh giá 0.0 / 5.0">
                    <span style="width:0%">Đánh giá <strong class="rating">0.0</strong> / 5.0</span>
                </div>
                <% if (product.product_price.nil?) || (product.product_price.to_f <= 1) %>
                    <ins><span class="thcn-Price-amount amount"><bdi>
                        Đang Cập Nhật Giá
                    </bdi></span></ins>
                <% else %>
                    <ins><span class="thcn-Price-amount amount"><bdi>
                        <%= format_price(product.product_price) %>
                    </bdi></span></ins>
                <% end %>
                <% if product.product_listed_price.to_f > 1 %>
                    <del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi>
                        <%= format_price(product.product_listed_price) %>
                    </bdi></span></del>
                <% end %>
            </li>
        <% end %>
    </ul>
</div>